<h1>Do tej grupy naleza:</h1>

<% @group.members.each do |m| %>
  <h2><li><%= m.email %><br></li></h2>
<% end %>



<%= link_to "Powrot", {:action => 'show', :id => @group.id, :controller => 'groups'} %>
