<!DOCTYPE html>
<html>
<head>
  <title>can i haz groupz, phleeze?</title>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id='container'>
		<%= yield %>
	</div><!--container-->

</body>
</html>
